.side-bar {
    padding-left: 15px !important;
}
.tour_row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 50px;
    row-gap: 20px;
    & > * {
        flex-basis: calc(50% - 10px);
        margin: 5px;
    }
}
.pagination_ {
    margin-bottom: 50px;
}
@media (max-width: 570px) {
    .tour_row > * {
        flex-basis: calc(100% - 10px) !important;
    }
}
