.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.form {
    width: 100%;
    display: flex;
    text-align: center;
    background-color: var(--white);
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 6px -2px rgba(50, 71, 92, 0.6705882353);
    h2 {
        margin-bottom: 30px;
        text-align: left;
        font-size: 25px;
    }
    .avatar {
        text-align: center;
        .avatar-img {
            overflow: hidden;
            border-radius: 10px;
        }
        img {
            overflow: hidden;
        }
        .avater-btn {
            margin-top: -30px;
            background-color: var(--primary-color);
        }
    }
    .container {
        display: flex;
        text-align: center;
        flex-direction: row;
        gap: 30px;
        .infor {
            width: 100%;
            .input_list {
                display: flex;
                flex-direction: row;
                margin-top: 20px;
                gap: 20px;
                margin-bottom: 20px;
                .input {
                    background-color: var(--smoke-color);
                    border-color: #adadad69;
                }
            }

            .btn {
                font-size: 14px;
                text-transform: uppercase;
            }
        }
    }
}
